/*Styling for the entire body of the html*/
body{
	margin: 0 auto;
}

/*Styling for the header container itself. The header contians the navigation links and the brand logo*/
header{
	height: 100px;
	background-color: #ebebeb;
	display: grid;
	grid-template-columns:45% 55%;
    padding: 16px 50px 16px 50px;
}

/*Styling for the Logo in the header*/
.logoImg{
	width: 70px;
	display: grid;
	grid-template-columns: 45% 55%;
}

/*Styling for the vertical line just before the Logo image*/
.logoImg hr{
	width: 0;
  	background: black;
  	border: 1px solid black;
	margin: 0 auto;
}

/*Styling for the text beside the line in the logo*/
.logoImg h1{
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	letter-spacing: 3px;
	font-weight: 600;
	margin: 0 auto;
}

/*Styling for the navigation bar's background*/
.nav{
	height: 30%;
	position: relative;
	top: 50%;
	transform: translateY(-50%); 
	background-color: #9e9e9e;
	padding: 20px 20px;
	font-size: 20px;
	display:flex;
	flex-direction: row;
	margin: 0 auto;
	align-items: center;
}

/*Styling for the link texts in the navigation bar*/
nav a{
	padding: 6px 10px;
	font-family: 'PT Sans', serif;
	color: rgba(0, 0, 0, 0.6);
	text-decoration: none solid rgb(255, 255, 255);
	text-align: center;
}

/*Styling for the current page*/
#current{
    color: black;
    font-weight: bold;
}


/*Styling for the footer container*/
footer{
	width: 80%;
	margin: 0 auto;
	font-size: 16px;
}

/*Styling for the line immediately above the footer*/
footer hr{
	margin-top: 25px;
	border: 1px solid black;
}

/*Styling for the footer details under the line*/
.footerDetails{
	display: grid;
	grid-template-columns: 60% 35%;
	font-family: 'PT Sans', serif;
}

/*Styling for the footer division containing the social media icons*/
.socialMedia{
	display: flex;
	margin: 0 auto;
}

/*Styling for the social media icons*/
.icon{
	width: 42px;
	height: 42px;
	padding-right: 10px;
	position: relative;
	top: 50%;
	transform: translateY(-50%); 
}

/*Styling for the contact us button*/
.socialMedia button{
	width: 112px;
	background-color: black;
	color: white;
	text-align: center;
	font-size: 16px;
}

/*Styling for the trademark text under the contact us place*/
.footerDetails h3{
	font-size: 15px;
}

/*Styling for the mailing list subscription form segment*/
.mailingList{
	margin: 0 auto;
} 

/*Styling for the mailing list input box and subscription button*/
#mailingListForm input, .mailingList button{
	width: 300px;
	height: 35px;
	padding: 0 10px;
	font-size: 16px;
	margin-bottom: 15px;
}

/*Styling for the mailing list subscription button*/
.mailingList button{
	text-align: center;
	width: 100%;
	background-color: black;
	color: white;
}

/*Styling for the product banner on the products page*/
.productBanner{
    width: 90%;
    display: flex;
    font-family: 'PT Sans', serif;
    margin: 0 auto 15px;
}

/*Styling for the title per page*/
.pageTitle{
    width: 300px;
    height: 220px;
    padding: 0 10px;
    background-color: #2e2e2e;
    font-size: 20px;
    color: #ffffff;
    margin-right: 40px;
}

/*Styling for the banner image per page*/
.pageImg img{
    width: 842px;
    height: 220px;
    object-fit: cover;
    margin: 0 auto;
}

/* Styling for the link to book a residence */
#bookNow{
	border: 1px solid black;
	padding-top: 5px;
	padding-bottom: 5px;
	color: black;
}