/*Styling for the home page banner Image*/
.HomePageBanner img{
    height: 650px;
    width: 100%;
    object-fit: cover;
}

/*Styling for the booking dropdown*/
.Booking{
    /*border: 1px solid black;*/
    width: 300px;
    background-color: rgba(235,235,235,0.7);
    padding: 20px 10px 20px 20px;
    font-family: 'PT Sans', serif;
    color: #000000;
    position: absolute;
    left: 5vw;
    top: 18vh;
}

/*Styling for booking title*/
.Booking h4{
    font-weight: lighter;
    font-size: 24px;
}

/*Styling for the title of each form input.*/
.Booking form h5{
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 600;
    margin: 0 auto;
}

/*Styling for the input box in the booking form*/
.Booking form input{
    width: 275px;
    height: 40px;
    background-color: #d1d1d1;
    font-family: 'PT Sans', serif;
    font-size: 13px;
    color: #000000;
    font-weight: 400;
    margin: 10px 30px 20px 0;
    padding-left: 10px;
    /*padding-right: 10px;*/
}

/*Styling for the date picker*/
input[type="date"]::-webkit-inner-spin-button {
    display: none;
}

/*Styling for the date picker icon*/
input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    background: url(https://img.icons8.com/metro/26/000000/calendar-11.png)no-repeat;
    width: 20px;
    height: 30px;
    border-width: thin;
    position: relative;
    transform: translateY(20%);
}

/*Styling for the book stay div which contains the number of kids and adults respectively*/
.bookStay{
    display: flex;
}

/*Styling for the input tab in the book stay bar*/
.bookStay label input{
    width: 116px;
    height: 40px;
}

/*Styling for the booking button*/
.Booking button{
    width: 112px;
    height: 31px;
    border-radius: 5px;
    background-color: #4d4d4d;
    margin: 0 auto;
    font-size: 16px;
    color: #ffffff;
}

/*Styling for the top amenities section*/
.topAmenities{
    display: flex;
    width: fit-content;
    margin: 20px auto 0;
    padding: 10px;
    /*border: 1px solid black;*/

}

/*Styling for the individual amenities*/
.amenities{
    width: 260px;
    height: 358px;
    margin: 20px;
    font-family: 'PT Sans', serif;
    box-shadow: 1px 2px #c7c7c7;
}

/*Styling for the images in the amenities page*/
.amenities img{
    height: 200px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 15px;
}

/*Styling for all the text in the amenities bar*/
.amenities b, .amenities p, .amenities h1{
    padding: 0 25px 0 25px;
}

/*Styling for Hi tag in amenities*/
.amenities h1{
    font-size: xx-large;
    margin: 10px auto 0;
}

/*Styling for the second H1 tag*/
#amenities1{
    color: red;
}

/*Styling for the key stats division*/
.keyStats{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    border: 1px solid black;
    padding: 20px;
}

/*Styling for the key stats Image*/
.stats img{
    width: 50px;
    height: 50px;
}

.stats{
    margin: 0 auto;
}