/*Styling for the available products page*/
.ourProducts{
    width: 85%;
    margin: 0 auto;
    font-family: 'PT Sans', serif;
}

/*Styling for the h1 elements in the products segment.*/
.ourProducts h1{
    font-size: 32px;
    color: #666666;
    font-weight: 400;
    margin: 5px;
}

/*Styling for the p elements in the products segment.*/
.ourProducts p{
    font-size: 20px;
    color: #454444;
    font-weight: 400;
    text-align: center;
    margin: 15px auto;
}

/*Styling for the Our products 1 class*/
.ourProducts1{
    display: grid;
    grid-template-columns: 72% 28%;
    margin: 0 auto;
}

/*Styling for the button in the our products1 button*/
.ourProducts1 button{
    height: 35px;
    border-radius: 5px;
    background-color: #ababab;
    margin-left: 15px;
    position: relative;
    top: 15%;
    font-size: 12px;
    color: #000000;
    line-height: 18px;
    text-align: center;
    font-family: 'PT Sans', serif;
}

/* Styling for the values icons */
/* .core_values{
    width: 95%;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    margin: 0 auto;
} */

/* Styling for the value descriptions */
.card p{
    width: 90%;
    margin: 0 auto;
    padding-bottom: 25px;
}

/* Styling for the procuct card */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
    font-family: 'PT Sans', serif;
}

/* Styling for the price tag*/
.price {
    color: #606060;
    font-size: 25px;
}
/* Styling for the card image */
.card img{
    width: 300px;
    height: 200px;
    object-fit: cover;
    padding-bottom: 20px;
}

.card h1{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 600;
    /*padding-bottom: 20px;*/
}

.card p{
    font-family: 'Lato', sans-serif;
}

/*Styling for the purchase button*/
.card button {
    border: none;
    padding: 12px;
    color: white;
    background-color: #606060;
    text-align: center;
    width: 100%;
    font-size: 18px;
}

/*On-hover styling for the button*/
.card button:hover {
    opacity: 0.7;
}

/* Styling for the gallery products*/
/* .gallery_products, .gallery_products .core_values{
    padding-top: 30px;
    padding-bottom: 30px;
} */


.gallery_products{
    width:100%;
    /* padding: 0 0vw; */
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-gap:10px;
}

/* Styling for the navidation bar at the buttom of the page*/
/*.pagination {
    display: flex;
    width: 40%;
    margin: 0 auto;
    padding-bottom: 30px;
}*/

/* Styling for the navidation bar at the buttom of the page*/
/*.pagination a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    margin: 0 auto;
}*/

/* Styling for the navidation bar at the buttom of the page*/
/*.pagination a.active {
    background-color: #B22222;
    color: white;
}*/

/* Styling for the navidation bar at the buttom of the page*/
/*.pagination a:hover:not(.active) {background-color: #ddd;}*/

/*Styling for the Add products button*/
#addButton button{
    width: 347px;
    height: 44px;
    background-color: #1c1c1c;
    font-size: 18px;
    color: #ffffff;
    font-weight: 700;
}

/*Styling for the Add products button*/
#addButton{
    width: fit-content;
    margin: 15px auto 0;
    position: relative;
    top: 15px;
}