/*Styling for the container holding the rooms*/
.rooms {
  width: 80vw;
  margin: auto;
}

/*Styling for the room title*/
.rooms h1{
  font-size: 32px;
  color: #666666;
  font-weight: 400;
  margin: 5px;
}

/*Styling for the searching form*/
.rooms .Searching {
  display: flex;
  margin: 0 auto;
  width: fit-content;
}

/*Styling for the input bar in the searching box*/
.Searching input{
  width: 174px;
  height: 33px;
  padding: 0px 10px;
  border: 1px solid #666666;
  background-color: #ffffff;
  font-size: 13px;
  color: #000000;
  font-weight: 400;
  margin: 0 auto;
}

/*Styling for the searching form*/
.rooms .Searching #SearchingForm {
  display: flex;
}

.rooms .Searching input {
  height: 2.5vw;
}

.rooms .Searching input[type="date"]::-webkit-inner-spin-button {
  display: none;
}

.rooms .Searching input[type="date"]::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  background: url(https://img.icons8.com/metro/26/000000/calendar-11.png) no-repeat;
  width: 20px;
  height: 30px;
  border-width: thin;
  position: relative;
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
}

.rooms .Searching button {
  padding: 0.25vw 4vw;
  color: white;
  background-color: #1f1f1f;
  font-size: 1.4vw;
}

.rooms .category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1vw 0;
}

.rooms .category .image img {
  width: 25vw;
  height: 15vw;
}

.rooms .category .description {
  padding-left: 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #666666;
}

.rooms .category .description .text h1 {
  color: #454444;
  font-weight: 400;
  font-size: 2.5vw;
}

.rooms .category .description .text p {
  font-size: 1.2vw;
  font-weight: 400;
}

.rooms .category .description .text i {
  padding: 0 0.5vw;
}

.rooms .category .description .book {
  margin: auto;
  margin-left: 5vw;
}

.rooms .category .description .book p {
  text-align: center;
}

.rooms .category .description .book .money {
  font-weight: 700;
  font-size: 1.5vw;
}

.rooms .category .description .book button {
  padding: 0.5vw 4vw;
  color: white;
  background-color: #1f1f1f;
  font-size: 1.4vw;
}
