*{    
    font-family: 'PT Sans', serif;
    // font-size: 1.2vw;
    // border: 1px solid black;
}
*, *::before, *::after { box-sizing: border-box}

.roomBanner{
    width: 90%;
    display: flex;
    font-family: 'PT Sans', serif;
    margin: 0 auto 15px;

    .pageTitle{
            width: 300px;
        height: 220px;
        padding: 0 10px;
        background-color: #2e2e2e;
        color: #ffffff;
        margin-right: 40px;
        h1{
            font-family: 'PT Sans', serif;
            font-size: 2vw;
        }

    }
}

/*Styling for the title per page*/


/*Styling for the banner image per page*/
.pageImg img{
    width: 842px;
    height: 220px;
    object-fit: cover;
    margin: 0 auto;
}
.rooms{
    width: 80vw;
    margin: auto;

    #title{

    }

    .Searching{
        display: flex;
        margin: auto;
        width: fit-content;
        #SearchingForm{
            display: flex;
        }
        input{
            height: 2.5vw;;
        }
        /*Styling for the date picker*/
input[type="date"]::-webkit-inner-spin-button {
    display: none;
}

/*Styling for the date picker icon*/
input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    background: url(https://img.icons8.com/metro/26/000000/calendar-11.png)no-repeat;
    width: 20px;
    height: 30px;
    border-width: thin;
    position: relative;
    transform: translateY(20%);
}
button{
    padding:  0.25vw 4vw;
    color: white;
    background-color: #1f1f1f;
    font-size: 1.4vw;
}
        
    }
    .category{
        display: flex;
        padding: 1vw 0;
        
        .image{
            img{
                width: 25vw;
                height: 15vw;;
            }

        }
        .description{
            padding-left: 5vw;
            display: flex;
            color: #666666;
            
            .text{
                h1{
                    color: #454444;
                    font-weight: 400;
                    font-size: 2.5vw;;
                }
                p{
                    font-size: 1.2vw;
                    font-weight: 400;
                }
                i{
                    padding: 0 0.5vw;
                }
            }
            .book{
                margin: auto;
                margin-left: 5vw;
                p{
                    text-align: center;
                }
                .money{
                    font-weight: 700;
                    font-size: 1.5vw;
                }
                button{
                    padding:  0.5vw 4vw;
                    color: white;
                    background-color: #1f1f1f;
                    font-size: 1.4vw;
                }
            }
        }
    }
}